<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LangEasy.Properties.GoogleTTS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="LangEasy.Properties.GlobeForm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="LangEasy.GlobeForm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="LangEasy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <LangEasy.Properties.GoogleTTS>
            <setting name="language" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="readtext" serializeAs="String">
                <value />
            </setting>
            <setting name="recognize" serializeAs="String">
                <value>False</value>
            </setting>
        </LangEasy.Properties.GoogleTTS>
        <LangEasy.Properties.GlobeForm>
            <setting name="globefrom" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="globeto" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="globech1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globech2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globech3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globech4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globetrack" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="globes1" serializeAs="String">
                <value />
            </setting>
            <setting name="globes2" serializeAs="String">
                <value />
            </setting>
            <setting name="globesquery" serializeAs="String">
                <value />
            </setting>
            <setting name="globessearched" serializeAs="String">
                <value />
            </setting>
        </LangEasy.Properties.GlobeForm>
        <LangEasy.GlobeForm>
            <setting name="globefrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="globeto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="globech1" serializeAs="String">
                <value>False</value>
            </setting>
        </LangEasy.GlobeForm>
        <LangEasy.Properties.Settings>
            <setting name="randomizem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statistics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="memorize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlinedb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablehint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disabledef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablechoicedef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablestat" serializeAs="String">
                <value>False</value>
            </setting>
        </LangEasy.Properties.Settings>
    </userSettings>
</configuration>
